[submodule "ws_ros2/src/px4_msgs"]
	path = ws_ros2/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = release/1.15

[submodule "ws_ros2/src/ros2_aruco"]
	path = ws_ros2/src/ros2_aruco
	url = https://github.com/JMU-ROBOTICS-VIVA/ros2_aruco.git
	branch = main
